body
{
	font-family: arial;
	font-size: 1rem;
	margin: 0;
	padding: 0;
	background: #eee;
}

a
{
	text-decoration: none;
	color: black;
}

textarea
{
	/*border: 2px solid #999;*/
	border-radius: 0;
	border: 0;
	margin: 0;
	padding: 0;
	padding-left: 12px;
	height: 100%;
	width: 98.1%;
	font-family: inherit;
	font-size: inherit;
	line-height: 1.5rem;
	/*resize: vertical;*/
}

textarea, #labels
{
	background-image: url("textbg.png");
	image-rendering: pixelated;
	background-size: 100% 3rem;
}

#header
{
	min-height: 10vh;
	background: #ddd;
	display: flex;
	align-content: center;
	vertical-align: middle;
	border-bottom: 2px solid #ccc;
}

#headertext
{
	font-size: 2rem;
	margin: auto;
}

#maincontainer
{
	max-width: 750px;
	margin: auto;
}

#totalcal
{
	text-align: center;
	vertical-align: middle;
}

#labeltext
{
	margin: auto;
	display: grid;
	/*grid-gap: 5px;*/
	background: #bbb;
	grid-template-columns: 100px 1fr;

	font-family: inconsolata;
	font-size: 1.2rem;
	line-height: 1.5rem;
}

#labels
{
	display: flex;
	flex-direction: column;
	text-align: right;
	/*margin-top: 3px;*/
	margin: 2px;
	margin-right: 1px;
	padding: 0 1rem;
}

.calories
{
	height: 1.5rem;
}

#textcontainer
{
	margin: 2px;
	margin-left: 1px;
}