body
{
	font-family: arial;
	font-size: 1rem;
	margin: 0;
	padding: 0;
	background: #eee;
}

a
{
	text-decoration: none;
	color: black;
}

textarea
{
	border-radius: 0;
	border: 0;
	margin: 0;
	padding: 0;
	padding-left: 12px;
	height: 100%;
	width: 98.1%;
	font-family: inherit;
	font-size: inherit;
	line-height: 1.5rem;
	resize: vertical;
}

textarea, #labels
{
	background-image: url("textbg.png");
	image-rendering: pixelated;
	background-size: 100% 3rem;
}

#header
{
	min-height: 10vh;
	background: #529800;
	display: flex;
	justify-content: center;
	align-content: center;
	vertical-align: middle;
	border-top: 1px solid #8aad7c;
	border-bottom: 2px solid #8aad7c;
}

#headercontent
{
	display: flex;
	flex-direction: row;
	/*justify-content: center;*/
	/*align-content: center;*/
	margin: auto;
}

#header img
{
	max-height: 5vh;
	margin: auto;
	margin-right: 30px;
	opacity: 0.9;
}

#headertext
{
	font-size: 2rem;
	margin: auto;
}

#maincontainer
{
	max-width: 750px;
	margin: auto;
}

#totalcal
{
	color: #289300;
	text-align: center;
	vertical-align: middle;
	margin: 40px;
}

#labeltext
{
	margin: auto;
	display: grid;
	/*grid-gap: 5px;*/
	background: #95a98d;
	grid-template-columns: 100px 1fr;

	font-family: inconsolata;
	font-size: 1.2rem;
	line-height: 1.5rem;
}

#labels
{
	display: flex;
	flex-direction: column;
	text-align: right;
	color: #289300;
	/*margin-top: 3px;*/
	margin: 2px;
	margin-right: 1px;
	padding: 0 1rem;
}

.calories
{
	height: 1.5rem;
}

#textcontainer
{
	margin: 2px;
	margin-left: 1px;
}
